.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: auto 10%;
    background-color: transparent;
}

.middle-square {
    font-size: 80px;
    color: #9abdb9;
    background-color: #ffff85;
}